$width-container: 50%;
$margin-container: 20px;

.container {
  display: block;
  margin-left: 20px;
  margin-right: 20px;

  @media(min-width: 800px) {
    display: inline-block;
    margin-top: 20vh;
  }
}

.containerCounter {
  display: block;
  width: 100%;

  @media(min-width: 800px) {
    display: inline-block;
    width: calc(#{$width-container} - #{$margin-container});
  }
}

.containerCounter:last-child {
  @media(min-width: 800px) {
    margin-left: $margin-container;
  }
}

.magicContainer {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
}
