$width-container: 50%;
$margin-container: 20px;

.container {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20vh;
}

.containerCounter {
  display: inline-block;
  width: calc(#{$width-container} - #{$margin-container});
}

.containerCounter:last-child {
  margin-left: $margin-container;
}
